#login-button {
    margin-left: 20px;
}

#nav-options-list {
    margin-left: 16px;
}

#appointments-button {
    margin-right: 1%;
}

#dashboard-button {
    margin-right: 2%;
}

#dropdown-button {
    margin-right: 1%;
}