body {

    background-color: #EEF9FF;
}

#signup-form {
    color: black;
    margin-top: 1%;
    margin-left: 30%;
    min-height: 100%;


}

.input-fields {
    width: 40%;
}

#joinus-word {
    font-size: x-large;
    font-weight: bold;
    color: #06A3DA;
}

#male-radio {
    margin-right: 2%;
}


.signup-error-message {
    color: red;
}