#verifynumber-form {
    color: black;
    margin-top: 7%;
    margin-left: 30%;
    min-height: 60%;

}

.code-fields {
    width: 3%;
    margin-top: 1%;
    margin-left: 2%;
    position: relative;
    left: 5%;
}

#submit-button {
    margin-left: 13%;
}

#verify-error-p {
    color: red;
    font-weight: bold;
    margin-left: 12%;
}

#resend-button {
    font-size: small;
}

#resend-p {
    font-weight: bold;
}

#no-receive-div {
    margin-left: 8%;
}